/node_modules
/public/hot
/public/js
/storage/framework/*
/storage/logs/*
/vendor
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
.idea/*
/storage/app/public/custom_game_images
/storage/app/public/custom_game_screenshot
/storage/app/livewire-tmp
/public/custom_game_images
/public/custom_game_screenshot
